<div class="navbar-agora">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-agora-brand" do %>
    <%= image_tag "logo.png", height: 80 %>
  <% end %>

<div class="navbar-search">
<!--   search -->
  <div class="form-set">
    <form action="<%= discover_path %>">
      <input type="text" placeholder=" What do you feelm like watching?" name="q" class="form-search">
      <button type="submit" value="SEARCH" class="btn btn-danger">SEARCH</button>
    </form>
  </div>

</div>

  <!-- Right Navigation -->
  <div class="navbar-agora-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-agora-item">
        <div class="dropdown">
        <% if current_user.nil? || current_user.photo.blank? %>
        <%= image_tag "blank-avatar.png", class: "avatar dropdown-toggle", id: "navbar-agora-menu", data: {toggle: "dropdown"}  %>
        <% else %>
        <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-agora-menu", data: {toggle: "dropdown"}  %>
        <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-agora-dropdown-menu">
            <li>
              <%= link_to dashboard_path do %>
                 <i class="fa fa-user"></i> <%= t(".profile", default: "Film library") %>
              <% end %>
            </li>
            <li>
              <%= link_to dashboard_path do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Preferences") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-agora-item navbar-agora-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-agora-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-agora-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
