<div id="medium-id" hidden><%= @medium.id %></div>
<% if @nb > 0 %>
  <form action="<%= discover_path %>">
    <input type="text" id="back" name="nb" value="<%= @nb - 1 %>" hidden></input>
    <input type="submit" class="previous-button" value="<"></input>
  </form>
<% end %>
<% if @nb < @data.size - 1 %>
  <form action="<%= discover_path %>">
    <input type="text" id="next" name="nb" value="<%= @nb + 1 %>" hidden></input>
    <input type="submit" class="next-button" value=">"></input>
  </form>
<% end %>
<div class="container movie-show">
  <div class="row h-full">
    <% search = URI.escape(@medium.title.tr(' ', '+') << 'Trailer') %>
    <div class="col-xs-12 col-md-7 h-full" style="background: url(<%= image_url('https://img.youtube.com/vi/sAOzrChqmd0/maxresdefault.jpg') %>) center; background-size: cover;">
      <div class="overlay"></div>

      <div class="movie-preview">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <div class="youtube-player" data-id="sAOzrChqmd0"></div>
            <div class="ratings">
              <% audience_rating = (@medium.audience_rating / 2).round %>
              <% press_rating = (@medium.press_rating / 2).round %>

              <div class="rating">
                <div class="title">AUDIENCE</div>
                <div class="stars">
                  <% 5.times do |i| %>
                    <span class="glyphicon glyphicon-star <%= i < audience_rating ? 'on' : 'off' %>"></span>
                  <% end %>
                </div>
              </div>

              <div class="rating">
                <div class="title">PRESS</div>
                <div class="stars">
                  <% 5.times do |i| %>
                    <span class="glyphicon glyphicon-star <%= i < press_rating ? 'on' : 'off' %>"></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-11">
            <p class="synopsis"><%= @medium.synopsys %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5">
      <div class="movie-details">
        <h2>
          <%= @medium.title %>
        </h2>
        <i class="fa fa-stopwatch">&nbsp;<%= (@medium.duration / 60).to_s << 'h ' << (@medium.duration % 60).to_s << 'min'%></i>
        <div class="movie-attributes">
          <%= image_tag (@medium.poster.nil? ? 'avatar-movie.jpg' : @medium.poster) %>

          <ul class="attributes-list">
            <li class="attribute">
              <div class="key">Direction:</div>
              <% @medium.directors.reverse.each do |director| %>
                <div class="value"><%= director.full_name %></div>
              <% end %>
            </li>
            <li class="attribute">
              <div class="key">Studio:</div>
              <div class="value"><%= @medium.studio.name %></div>
            </li>
            <li class="attribute">
              <div class="key">Genre:</div>
              <div class="value">Movie of ball</div>
            </li>
          </ul>
        </div>

        <div class="cast">
          <%# <h3>CAST</h3> %>

          <div class="actors">
            <% @medium.actors.reverse.each do |actor| %>
              <div class="actor">
                <%= image_tag (actor.photo.blank? ? 'blank-avatar.png' : actor.photo) %>
                <div class="name">
                  <%= actor.full_name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
